.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 2px 2px;
    background-color: lightblue; 
}

.grid-item {
    background: lightpink;
}

#grid-header {
    grid-column: 1 / 4;
    height: 10vh;
    width: 100vw;
}

#grid-aside-left {
    grid-area: 2 / 1 / 4 / 2;
    height: 90vh;
    width: 20vw;
}

#grid-aside-right {
    grid-area: 2 / 3 / 4 / 4;
    height: 90vh;
    width: 20vw;
}

#grid-main {
    grid-area: 2 / 2 / 3 / 3;
    height: 80vh;
    width: 60vw;
}

#grid-footer {
    grid-area: 3 / 2 / 4 / 3;
    height: 10vh;
    width: 60vw;
}



